- if (json.books.book.length)
  - each book in json.books.book
    li.book
      img(src='#{book.image_url}') 
      p #{book.title}
- else
  li.book
     img(src='#{json.books.book.image_url}')
     p #{json.books.book.title}