!!! 5
html(lang="en")
  head
    title Booklist
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='js/goodreads.js')
  body
    header
      #global_nav
        a(href='/') Home 
        /
        a(href='/logout') Logout 
    != body
    
    .loadingDiv
      img(src='/images/loading.gif')
    